.chooseOperator_container {
  padding: 5px 5rem;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  min-height: 70vh;
  margin-top: 40px;
}

.left-side_button_container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-side_button_container h3 {
  font-size: 18px;
  font-weight: 600;
  color: #a2a9ba;
  width: max-content;
}

.left-side_button_coll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 83%;
}

.left-side {
  /* border: 1px solid red; */
  border-radius: 15px;
  padding: 2rem;
  min-width: 61%;
  background-color: white;
}

.left_side_heading h2 {
  font-size: 22px;
  font-weight: 600;
}

.left-side_button {
  padding: 4px 60px;
  color: #97a5ba;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #e6eaf7;
  border-radius: 8px;
}

.choose_operator_button_active {
  color: #32a7f9;
  background-color: #e9f7fe;
  border-color: #bbe5fc;
}

.chooseOp_mev {
  color: #32a7f9;
  background-color: #e9f7fe;
  border: 1px solid #bbe5fc;
  border-radius: 8px;
  text-align: center;
  padding: 4px 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.choose_operator_datalist {
  margin-top: 40px;
}

.right-side_chooseOperator_container {
  width: 36%;
  border-radius: 15px;
  background-color: white;
  padding: 2rem;
}

.right-side_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseOperator_right_side_button {
  margin-bottom: 20px;
}

.notchoosenOperator_right {
  border: 1px dotted #d2d9e8;
  border-radius: 8px;
  background-color: #f2f6fb;
  padding: 2rem 1rem;
  text-align: center;
  color: #d2d9e8;
  font-size: 18px;
}

.chooseOperator_right_side_button_container {
  height: 450px;
  margin-top: 20px;
  overflow-x: auto;
}

.right-side_header h2 {
  font-size: 22px;
  font-weight: 600;
}

.right-side_header span {
  color: #1da4f9;
}

.choosenOperator_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #d2d9e8;
  border-radius: 12px;
  color: #0a2b3c;
}

.choosenOperator_right_left {
  display: flex;
  align-items: center;
  max-width: 310px;
}

.choosenOperator_right_left img {
  height: 40px;
  border-radius: 8px;
  margin-right: 20px;
}

.choosenOperator_right_left_data p {
  color: rgb(161, 172, 190);
  font-size: 14px;
}

.choosenOperator_right h2 {
  font-size: 17px;
  font-weight: 500;
}

.chooseOperator_right_side_bottom_container {
  margin-top: 20px;
}

.chooseOperator_right_side_bottom_container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chooseOperator_right_side_bottom_container_header h2 {
  font-size: 17px;
  font-weight: 700;
  color: #0a2b3c;
}

.chooseOperator_right_side_bottom_container_header p {
  font-size: 17px;
}

.chooseOperator_right_side_bottom {
  font-size: 18px;
}

.choose_operator_row_container{
  display: flex;
  align-items: center;
}
.choose_operator_row_container img {
  height: 30px;
  border-radius: 10px;
  margin-right: 15px;
}
